@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg:#FFFFFF;
  --bgSoft:#F7F7F7;
}


* {
  padding: 0;
  font-family: Vazir;
  box-sizing: border-box;
}

@layer components {
  .card-shadow {
    -webkit-box-shadow: 0px 0px 22px 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 22px 9px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 22px 9px rgba(0,0,0,0.1);
  }
}

@layer base {
  @font-face {
    font-family: 'Vazir';

    src: url(/fonts/Vazir.ttf);
  }
}